*{
    border: none!important;
}

body{
    background-color: rgb(33, 35, 36)!important;
    color: white!important;
}
.panel-body{
    background-color: rgb(40, 42, 43)!important;
    border: none!important;
}
p.pull-left{
    color: white!important;
}
div.component{
    background-color: rgb(40, 42, 43)!important;
    color: white!important;
    border: none!important;
}